@import './themes.scss';
/* Prevent bulma scroll style */
html {
  overflow-y: auto !important;
}

body {
  color: var(--font-color);
  background-color: var(--bg-color);
  min-height: 100vh;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
